@font-face{
  font-family: 'myfont';
  src: url('Corporate-Logo-Medium-ver3.otf')format('otf')
}
body{
  margin: 0;
}
.header_frame{
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background-color: rgba(250, 250, 250, 0.5);;
  width: 100%;
  height: 7rem;
}
.title{
  width: 30rem;
  height: 7rem;
  display: flex;
  align-items: center;
  margin: 0;
}
.hum_frame{
  position: relative;
  width: 7rem;
  height: 7rem;
  z-index: 1;
}
.hum_var1{
  position: absolute;
  background-color: black;
  top: 2rem;
  height: 0.3rem;
  width: 4rem;
  border-radius: 3rem;
  transition: 0.5s;
}
.hum_var2{
  position: absolute;
  background-color: black;
  top: 3.4rem;
  height: 0.3rem;
  width: 4rem;
  border-radius: 3rem;
}
.hum_var3{
  position: absolute;
  background-color: black;
  top: 4.8rem;
  height: 0.3rem;
  width: 4rem;
  border-radius: 3rem;
  transition: 0.5s;
}
.hum_var1.open{
  rotate: 45deg;
  top: 3.4rem;
  transition: 0.5s;
}
.hum_var2.open{
  opacity: 0;
}
.hum_var3.open{
  top: 3.4rem;
  rotate: -45deg;
  transition: 0.5s;
}
.modal{
  margin-left:100%;
  position: fixed;
  background-color: white;
  height: 40rem;
  z-index: 2;
  width: 40rem;
  transition: 0.5s;
  padding-left: 4rem;
}
.modal.open{
  margin-left: 70%;
  transition: 0.5s;
}
.modal2{
  display: block;
  margin-top: 7rem;
}
.home{
  margin-top: 10rem;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
  z-index: 1;
}
.concept{
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
  z-index: 1;
}
.price{
  margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    cursor: pointer;
    z-index: 1;
}
.features {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
  z-index: 1;
}
.goriyounagare{
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
  z-index: 1;
}
.m_f_img{
  width: 100%;
  height: 40rem;
  background-image: url('../img/kotetsuPAR584762054_TP_V.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}
.img2{
  background-image: url('../img/e4288cb81ab43df938485beff99d1830.jpg');
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 10rem;
  rotate: 20deg;
  border-radius: 3rem;
  margin-left: 10%;
}
.img3{
  background-image: url('../img/cf221c8203abf6eb1a976d5d902f293a.jpg');
  background-position: center;
  background-size: cover;
  rotate: -20deg;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-left: 20%;
}
.catch_copy{
  font-size: 3rem;
  font-family: 'myfont';
  color: white;
  position: absolute;
  margin-top: 30rem;
}
.catch1{
  padding-top: 7rem;
  background-color: rgba(61, 163, 174, 0.5);
  width: 30%;
  height: 33rem;
  left: 60%;
  position: absolute;
}
.text1{
  font-size: 2rem;
  font-family:'myfont';
}
.something1_frame{
  width: 100%;
  height: 120rem;
  background: linear-gradient(360deg, rgb(239, 165, 143), rgba(243, 232, 235, 0));;
}
.textframe_1{
  width: 40rem;
  margin: 7rem auto 0 auto;
  display: flex;
  justify-content: center;
}
.text2{
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(183, 22, 65);
  border-bottom: 0.1rem red solid;
}
.something1_title{
  margin: 0 auto;
  width: 40rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.something1_text{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  width: 50rem;
  margin: 7rem auto 0 auto;
}
.some1_title{
  position: relative;
  display: flex;
  width: 40rem;
  margin: 7rem auto 0 auto;
}
.some1_var1{
  top: 3.5rem;
  left: 0;
  position: absolute;
  width: 10rem;
  height: 0.1rem;
  background-color: rgb(183, 22, 65);
}
.some1_var2{
  top: 3.5rem;
  right: 0;
  position: absolute;
  width: 10rem;
  height: 0.1rem;
  background-color: rgb(183, 22, 65);
}
.some1_text{
  display: flex;
  justify-content: center;
  width: 40rem;
  font-size: 2rem;
  color: rgb(183, 22, 65);
  font-weight: bold;
}
.some1_content{
  width: 70rem;
  display: flex;
  justify-content: space-between;
  margin: 4rem auto 0 auto;
}
.some1_imgs{
  width: 24rem;
}
.some1_img{
  box-shadow: 0 0 8px gray;
  background-image: url(../img/120841259.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}
.some1_img2{
  box-shadow: 0 0 8px gray;
  background-image: url(../img/istockphoto-1431296772-612x612.jpg);
  background-position: center;
  background-size:cover ;
  width: 100%;
  height: 15rem;
}
.some1_img3{
  box-shadow: 0 0 8px gray;
  background-image: url('../img/b57518ed61f55f9f9fe62e1a3ecd19fb_t.jpeg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}
.some1_img_text{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
.price_frame{
  width: 100%;
  height: 60rem;
  background: linear-gradient(360deg, rgba(131, 128, 124, 1), rgba(243, 232, 235, 0));
}
.table1{
  width: 50rem;
  margin: 0 auto;
  border-collapse: collapse;
}
.table_header{
  background-color: crimson;
  color: white;
}
td{
  padding: 1rem;
  width: 20rem;
  border: 0.1rem black solid;
  margin: 0;
}
th{
  padding: 1rem;
  width: 20rem;
  border: 0.1rem black solid;
  margin: 0;
}
.price_text_frame {
  width: 40rem;
  margin: 7rem auto 0 auto;
  display: flex;
  justify-content: center;
}
.price_text{
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(183, 22, 65);
  border-bottom: 0.1rem red solid;
}
.first_price{
  margin: 0 auto;
  width: 15rem;
}
.c_price{
  display: flex;
  justify-content: center;
}
.c2_price{
  display: flex;
  justify-content: center;
}
.br1{
  display: none;
}
.tokutyou_flame{
  width: 100%;
  height: 45rem;
}
.tokutyou_title_frame{
  width: 30rem;
  margin: 0 auto;
}
.tokutyou_title{
  font-family: 'sans-serif';
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: rgb(183, 22, 65);
}
.tokutyou_title2{
  font-family: 'sans-serif';
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  color: rgb(183, 22, 65);
  border-bottom: 0.1rem solid rgb(183, 22, 65);
  font-weight: bold;
}
.f_imgs{
  display: flex;
}
.f_img1{
  box-shadow: 0 0 8px gray;
  background-image: url('../img/istockphoto-515593496-612x612.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 1.5rem;
  width: 30rem;
  height: 15rem;
  border: solid rgb(92, 91, 91) 0.1rem;
}
.f_img2 {
  box-shadow: 0 0 8px gray;
  background-image: url('../img/gahag-0058971790-1.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 1.5rem;
  width: 30rem;
  height: 15rem;
  border: solid rgb(92, 91, 91) 0.1rem;
}
.f_img3 {
  box-shadow: 0 0 8px gray;
  background-image: url('../img/future04.webp');
  background-position: center;
  background-size: cover;
  border-radius: 1.5rem;
  width: 30rem;
  height: 15rem;
  border: solid rgb(92, 91, 91) 0.1rem;
}
.f_img_content{
  box-shadow: 0 0 8px gray;
  margin: 16rem auto 0 auto;
  border-radius: 1.5rem;
  background-color: white;
  border: solid rgb(92, 91, 91) 0.1rem;
}
.f_content_flex{
  display: flex;
  align-items: center;
}
.f_number{
  font-size: 2rem;
  color: rgb(183, 22, 65);
  margin: 0 0 0 1rem;
}
.f_title{
  font-size: 1rem;
  margin-left: 1rem;
}
.f_content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.goriyou_title_frame {
  width: 100%;
  margin: 3rem auto;
}

.goriyou_title {
  font-size: 3rem;
  color: rgb(183, 22, 65);
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem rgb(183, 22, 65) solid;
  font-weight: bold;
}
.riyounagare_frame{
  height: auto;
}
.goriyou_detail1{
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.goriyou_detail1 {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.goriyou_detail2 {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.goriyou_detail3 {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.goriyou_detail4 {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.goriyou_detail5 {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.goriyou_detail6 {
  width: 30rem;
  margin: 0 auto 2rem auto;
  border: solid 0.2rem rgb(239, 81, 81);
  cursor: pointer;
  transition: 0.5s;
}
.riyouimg1{
  width: 30rem;
}
.footer{
  width: 100%;
  background-color: brown;
  height: 25rem;
  display: flex;
  justify-content: space-between;
}
.company_flame{
  width: 20rem;
  height: 20rem;
  margin-left:3rem;
}
.company_name{
  padding-top: 5rem;
  color: white;
  font-size: 2rem;
}
.company_address{
  color: white;
  font-size: 1rem;
}
.company_tel{
  color: white;
  font-size: 1rem;
}
.company_content_flame{
  width: 20rem;
  height: 20rem;
  margin-right: 3rem;
}
.company_info{
  color: white;
  font-size: 2rem;
  padding-top: 5rem;
}

@media (max-width:690px) {
  .header_frame{
    height: 5rem;
    width: 100%;
  }
  .title{
    height: 5rem;
    width: 24rem;
    font-size: 1.5rem;
  }
  .hum_frame{
    width: 5rem;
    height: 5rem;
  }
  .hum_var1{
    left: 0.5rem;
    top:2rem;
    width: 3rem;
    height: 0.1rem;
  }
  .hum_var2{
    left: 0.5rem;
    top:2.5rem;
    width: 3rem;
    height: 0.1rem;
  }
  .hum_var3{
    left: 0.5rem;
    top:3rem;
    width: 3rem;
    height: 0.1rem;
  }
  .hum_var1.open{
    rotate: 45deg;
    top:2.5rem;
  }
  .hum_var3.open{
    top: 2.5rem;
    rotate: -45deg;
  }
  .modal{
    padding-left: 0.5rem;
  }
  .modal.open{
    margin-left: 60%;
  }
  .m_f_img{
    background-position: -14rem;
  }
  .catch_copy{
    font-size: 2rem;
    z-index: 3;
  }
  .img3{
    top:3rem
  }
  .img2{
    top:10rem;
    width: 10rem;
  }
  .catch1{
    width: 12rem;
    left: 45%;
    margin: 0;
    height: 35rem;
    padding-top: 5rem;
  }
  .text1{
    font-size: 1.2rem;
    width: 8rem;
    margin: 1rem auto 0 auto;
    color: rgb(255, 255, 255);
  }
  .textframe_1{
    width: 20rem;
  }
  .price_text_frame{
    width: 20rem;
  }
  .something1_frame{
    width: 100%;
    height: 150rem;
  }
  .some1_title{
    width: 100%;
    margin-top: 0rem;
  }
  .some1_var1{
    display: none;
  }
  .some1_var2{
    display: none;
  }
  .something1_title{
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
  }
  .something1_text{
    font-size: 0.8rem;
    width: 20rem;
    margin: 3rem auto;
  }
  .br1{
    display: block;
  }
  .some1_content{
    display: block;
    width: 100%;
  }
  .some1_imgs{
    width: 20rem;
    margin: 0 auto;
  }
  .some1_img{
    width: 20rem;
    margin: 0 auto;
  }
  .some1_img2{
    width: 20rem;
    margin: 0 auto;
  }
  .some1_img3{
    width: 20rem;
    margin: 0 auto;
  }
  .some1_img_text{
    font-size: 0.9rem;
  }
  .table1{
    width: 20rem;
  }
  .tokutyou_flame{
    display: block;
    width: 100%;
    height: 110rem;
  }
  .tokutyou_title_frame{
    width: 20rem;
    margin: 0 auto;
  }
  .tokutyou_title{
    font-size: 1rem;
  }
  .tokutyou_title2{
    font-size: 1.5rem;
  }
  .f_imgs{
    display: block;
  }
  .f_img1{
    margin: 3rem auto 0 auto;
    width: 20rem;
    
  }
  .f_img2{
    margin: 17rem auto 0 auto;
    width: 20rem;
  }
  .f_img3{
    margin: 17rem auto 0 auto;
    width: 20rem;
  }
  .goriyou_title_frame{
    width: 20rem;
    margin: 3rem auto;  
  }
  .goriyou_title{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .goriyou_detail1{
    width: 20rem;
    height: 20rem;
  }
  .goriyou_detail1{
    width: 20rem;
    height: 20rem;
  }
  .goriyou_detail2{
    width: 20rem;
    height: 20rem;
  }
  .goriyou_detail3 {
    width: 20rem;
    height: 20rem;
  }
  .goriyou_detail4 {
    width: 20rem;
    height: 20rem;
  }
  .goriyou_detail5 {
    width: 20rem;
    height: 20rem;
  }
  .goriyou_detail6 {
    width: 20rem;
    height: 20rem;
  }
  .riyouimg1{
    width: 20rem;
  }
  .footer{
    display: block;
    height: 60rem;
    width: 100%;
  }
  .company_name{
    display: flex;
    justify-content: center;
  }
  .company_address{
    display: flex;
    justify-content: center;
  }
  .company_tel {
    display: flex;
    justify-content: center;
  }
  .company_flame{
    width: 20rem;
    margin: 0 auto;
  }
  .company_info{
    display: flex;
    justify-content: center;
  }
  .company_content_flame{
    width: 20rem;
  margin:0 auto;
  }

}