@font-face{
  font-family: 'myfont';
  src: url('Corporate-Logo-Medium-ver3.otf')format('otf')
}
body{
  margin: 0;
}
.header_frame{
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background-color: rgba(250, 250, 250, 0.5);;
  width: 100%;
  height: 7rem;
}
.title{
  width: 30rem;
  height: 7rem;
  display: flex;
  align-items: center;
  margin: 0;
}
.hum_frame{
  position: relative;
  width: 7rem;
  height: 7rem;
  z-index: 1;
}
.hum_var1{
  position: absolute;
  background-color: black;
  top: 2rem;
  height: 0.3rem;
  width: 4rem;
  border-radius: 3rem;
  transition: 0.5s;
}
.hum_var2{
  position: absolute;
  background-color: black;
  top: 3.4rem;
  height: 0.3rem;
  width: 4rem;
  border-radius: 3rem;
}
.hum_var3{
  position: absolute;
  background-color: black;
  top: 4.8rem;
  height: 0.3rem;
  width: 4rem;
  border-radius: 3rem;
  transition: 0.5s;
}
.hum_var1.open{
  rotate: 45deg;
  top: 3.4rem;
  transition: 0.5s;
}
.hum_var2.open{
  opacity: 0;
}
.hum_var3.open{
  top: 3.4rem;
  rotate: -45deg;
  transition: 0.5s;
}
.modal{
  margin-left:100%;
  position: fixed;
  background-color: white;
  height: 40rem;
  z-index: 2;
  width: 40rem;
  transition: 0.5s;
  padding-left: 4rem;
}
.modal.open{
  margin-left: 70%;
  transition: 0.5s;
}
.modal2{
  display: block;
  margin-top: 7rem;
}
.home{
  margin-top: 10rem;
  font-size: 1rem;
  font-weight: bold;
  display: block;
}
.concept{
  margin-top: 4rem;
  font-size: 1rem;
  font-weight: bold;
  display: block;
}
.price{
  margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    display: block;
}
.m_f_img{
  width: 100%;
  height: 40rem;
  background-image: url('../img/kotetsuPAR584762054_TP_V.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}
.img2{
  background-image: url('../img/e4288cb81ab43df938485beff99d1830.jpg');
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 10rem;
  rotate: 20deg;
  border-radius: 3rem;
  margin-left: 10%;
}
.img3{
  background-image: url('../img/cf221c8203abf6eb1a976d5d902f293a.jpg');
  background-position: center;
  background-size: cover;
  rotate: -20deg;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin-left: 20%;
}
.catch_copy{
  font-size: 3rem;
  font-family: 'myfont';
  color: white;
  position: absolute;
  margin-top: 30rem;
}
.catch1{
  padding-top: 7rem;
  background-color: rgba(61, 163, 174, 0.5);
  width: 30%;
  height: 33rem;
  left: 60%;
  position: absolute;
}
.text1{
  font-size: 2rem;
  font-family:'myfont';
}
.something1_frame{
  width: 100%;
  height: 60rem;
}
.textframe_1{
  width: 40rem;
  margin: 7rem auto 0 auto;
  display: flex;
  justify-content: center;
}
.text2{
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(183, 22, 65);
  border-bottom: 0.1rem red solid;
}
.price_frame{
  width: 100%;
  height: 60rem;
}

.price_text_frame {
  width: 40rem;
  margin: 7rem auto 0 auto;
  display: flex;
  justify-content: center;
}
.price_text{
  font-family: 'sans-serif';
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(183, 22, 65);
  border-bottom: 0.1rem red solid;
}
@media (max-width:690px) {
  .header_frame{
    height: 5rem;
    width: 100%;
  }
  .title{
    height: 5rem;
    width: 24rem;
    font-size: 1.5rem;
  }
  .hum_frame{
    width: 5rem;
    height: 5rem;
  }
  .hum_var1{
    left: 0.5rem;
    top:1.2rem;
    width:5rem;
    height: 0.1rem;
  }
  .hum_var2{
    left: 0.5rem;
    top:2.5rem;
    width: 5rem;
    height: 0.1rem;
  }
  .hum_var3{
    left: 0.5rem;
    top:3.8rem;
    width: 5rem;
    height: 0.1rem;
  }
  .hum_var1.open{
    rotate: 45deg;
    top:2.5rem;
  }
  .hum_var3.open{
    top: 2.5rem;
    rotate: -45deg;
  }
  .modal.open{
    margin-left: 60%;
  }
  
  .catch_copy{
    font-size: 2rem;
  }
  .catch1{
    width: 15rem;
    left: 40%;
    margin: 0;
  }
  .text1{
    font-size: 1.5rem;
  }
  .textframe_1{
    width: 20rem;
  }
  .price_text_frame{
    width: 20rem;
  }
}